<style>
.notepadcontent {
border-style:none;
font-family:courier;
font-size:12px;
letter-spacing:0pt;
line-height:16px;
padding:8px;
width:100%;
overflow-y:hidden;
word-break: break-all; letter-break: break-all;
}
/*\*/ * html .notepadcontent  { height: 1%; } /**/ *>.notepadcontent { overflow: hidden;} 
</style>
		${ContentArea}		
		<script type="text/javascript">
			_DS_RegisterOnloadHandler(
			  function loadNotepad__MODULE_ID__() {
				prefs__MODULE_ID__ = new _DS_Prefs(__MODULE_ID__);
				setCols__MODULE_ID__();
				var resizeString = "setCols__MODULE_ID__();" + document.body.getAttribute("onresize");
				document.body.setAttribute("onresize", resizeString);
			  }
			)
			function setCols__MODULE_ID__() {
			  var textarea = _gel("content__MODULE_ID__");
			  if (textarea)
			  {
				textarea.setAttribute("cols", Math.floor(textarea.clientWidth / 12));
				setRows__MODULE_ID__();
			  }
			  
			}
			function setRows__MODULE_ID__() {
				  var textarea = _gel("content__MODULE_ID__");
				  var cols = textarea.cols;
				  var str = textarea.value;
				  str = str.replace(/\r\n?/, "\n");
				  var lines = 2;
				  var chars = 0;
				  for (i = 0; i < str.length; i++) {
					var c = str.charAt(i);
					chars++;
					if (c == "\n" || chars == cols) {
					  lines ++;
					  chars = 0;
					}
				  }
				  textarea.setAttribute("rows", lines);
				  textarea.style.height = lines*16 + "px";
			}
			function saveResult__MODULE_ID__()
			{
				prefs__MODULE_ID__.set("content", _gel("content__MODULE_ID__").value);
			}
		</script>