@charset "utf-8";
*{margin:0px; padding:0px;}
body{margin: 0 auto; background: #676767; color: #FFF; font: 14px/160% Arial, Helvetica, sans-serif;text-align:center;}
#doc{width:960px; margin: 0 auto; text-align: left; background:  url(images/bodybg.jpg) no-repeat 0 0;}
ul,li{ list-style:none;}
a:link,a:visited { color:#FFF;}
a:hover,a:active { color:#FFF;}
/*topbar*/
#topbar,
#duser{ height:29px; line-height:29px; padding-right:3px; padding-left:5px; color:#FFF; font-size:12px;}
	#topbar a:link,a:visited{color:#FFF; text-decoration:none; padding:0 4px;}
	#topbar a:hover,a:active{color:#fff; text-decoration:underline; padding:0 4px;}
	#duser a:link,a:visited{color:#FFF; text-decoration:none; padding:0 4px;}
	#duser a:hover,a:active{color:#fff; text-decoration:underline; padding:0 4px;}
.menu { margin:0 auto; width:960px; background:url(images/topbarbg.jpg) no-repeat 0 0; }
/*topbar*/
/*header*/
#nhdrwrapsizer{ height:200px; padding-left:16px; text-align:left;}
	.title { margin-top:50px;}
		.title h1{display:inline; font-weight:bold; line-height:260%; color:#FFF;}
			.title span a:link,.title span a:visited{padding-left:15px; font-size:12px; color:#f7f7f7; text-decoration:none;}
			.title span a:hover,.title span a:active{padding-left:15px; font-size:12px; color:#fff; text-decoration:none;}
	.subtitle{color:#FFF;font-size:12px;}
/*header*/
/*tabs*/	
#tabs{margin:0 auto; height:27px; color:#FFF; font-weight:bold;  background:#000;}
	.tab{border:0px; margin-bottom:0px; line-height:27px; height:27px;}
	*html .tab {margin-top:4px;}
	*+html .tab { margin-top:4px;}
		.tab a:link,.tab a:visited{color:#FFF; font-size:12px; text-decoration:none; padding:0 5px;}
		.tab a:hover,.tab a:active{color:#fff;font-size:12px;text-decoration:underline;padding:0 5px;}
	.unselectedtab{background:transparent; border:0px; height:27px; color:#FFF;}
	.selectedtab{color:#e6b915; line-height:28px; font-weight:bold; background:#000; }
	.spacer{width:0px;}
/*tabs*/	
/*body*/
#modules{margin:0 auto; background:#000;  padding:5px;}
	/*\*/ * html #modules  { height: 1%; } /**/ *>#modules { overflow: hidden;} 
	.modbox_e,
	.modbox{overflow:hidden; border-top:1px solid #EDEDDC;background: #353535;}
			.modtitle, .modtitle_s { padding:0; }
			.modtitle{line-height:25px; border:0px;background: #214054 url(images/titlebg.jpg) no-repeat 0 0;}
			a.mtlink{color:#624326; text-decoration:none;}
			.modtitle_text{font-weight:bold; color:#FFF; padding-left:35px; text-decoration:none;}
			.controlBox {margin-right:2px;}
			.modboxin{border:0px; border:none;}
				.modboxin a:link,.modboxin a:visited{text-decoration:none;}
				.modboxin a:hover,.modboxin a:active{text-decoration:underline;}
				.fpager a.prev {float: left;padding-left: 20px;border: 0;cursor: pointer;background: url(images/prev.gif) no-repeat left center;}
				.fpager a.next {float: right;padding-right: 20px;border: 0;cursor: pointer;background: url(images/next.gif) no-repeat right center;}
				.fpad{font-size:12px;padding-left:18px;color:#666;margin-top:4px;}
				ul.ItemContent {margin-left:0px; line-height:25px;}
	.meditbox{border:1px solid #ccc;margin:10px 0;}
	.meditbox input,.meditbox select,.cp_button input{background-color: #ffffff;margin:2px;}
	.meditbox table{font-size:12px;}
		a.hidding_box{border:1px solid #e3e3e3;background-color:#fbfbfb;color:#624326;text-decoration:none;}
		a.hidding_box:hover{border:1px solid #e3e3e3;background-color:#fbfbfb;color:#624326;text-decoration:none;}
	.dnt-leftmenu,#category{padding-left:7px;line-height:230%;}
	.dnt-newpost,.dnt-newcomment,.dnt-statistic,.dnt-link,.dnt-bloglist,.dnt-commentlist,.dnt-leftmenu {padding-left:15px;overflow:hidden;word-break: break-all;letter-break:break-all;}
	.dnt-theme li{ padding-left:15px;line-height:180%;}
	.dnt-theme li img{margin-right:6px;}
	.dnt-theme .listcontent,.pagecontent{margin-left:30px;border-top:1px dashed #ebebeb;margin-top:10px;margin-bottom:10px;} 

		.SpaceArticle {margin-top:0;}
		.SpaceArticleTitle{background:url(images/SpaceTime.gif) no-repeat scroll left center;}
		.SpaceTitle { color:#FFF; }
		.SpaceArticleContent { overflow:hidden; }
		.SpaceNumberBack {background:transparent url(images/SpaceBack.gif) no-repeat scroll center top;}
	#blognavigator {color:#624326; margin-bottom:10px; background:transparent;  padding:3px;}
		#blognavigator a:link,#blognavigator a:visited{ctext-decoration:none;}
		#blognavigator a:hover,#blognavigator a:active{text-decoration:underline;}
	#submitComment,#usercommentlist {margin:0 auto;  }
		#submitComment p {margin:0 25px;}
		.viewcol #submitcomment input,.viewcol #submitcomment textarea{border:1px solid #ccc;margin:2px;}
	.calender .day{ background:#272727;}
	.calender li a,.SpaceArticleContent { color:#FFF;}
/*body*/
/*Eidter*/
.cp_editor  {background:#ffe8a5;}
/*Eidter*/
.MouseOut,.MouseOver,.Nleft span,.Nleft2 span,.Nleft3 span{ color:#000;}
/*openwindow*/
.modal-dialog-bg { background-color:#999; position:absolute; left:0px; top:0px;opacity:0.3; } 
.modal-dialog { background-color:#C1D9FF; border:1px solid #3A5774;position:absolute; left:0px;top:0px;  padding:8px; } 
.modal-dialog-title { background-color:#E0EDFE; cursor:default; font-weight:bold; line-height:normal; padding:8px; position:relative; } 
.modal-dialog-content { background-color:#FFFFFF; padding:0px 1px; } 
.modal-dialog-buttons { background-color:#FFFFFF; padding:4px; text-align:right; } 
.modal-dialog-buttons button { margin:5px; overflow:visible; padding:0pt 0.4em; } 
.modal-dialog-title-close { position:absolute; right:0px; } 
/*openwindow*/
/*footer*/
#footer{clear:both;margin:0 auto;width:960px;text-align:center;border-top:1px solid #EDEDDC;background:#000;color:#333;height:80px;}
	#copyright{padding-top:25px;line-height:25px;}
/*footer*/