<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Arsenalcn.WebService.Url" value="http://www.arsenal.cn/WebService/ArsenalService.asmx"/>
  </appSettings>
  <connectionStrings>
    <add connectionString="server=VM-WIN2008R2;database=acndb;user id=arsenalcn;pwd=Linfeng01!" name="Arsenalcn.ConnectionString" />
  </connectionStrings>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" />
    <authorization>
      <allow users="*" />
    </authorization>
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <customErrors mode="Off" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" />
    <pages validateRequest="false" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never" />
    <httpModules>
      <add type="Discuz.Forum.HttpModule, Discuz.Forum" name="HttpModule" />
    </httpModules>
    <xhtmlConformance mode="Legacy" />
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <location path="plugin">
    <system.web>
      <pages theme="Arsenalcn"></pages>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add type="Discuz.Forum.HttpModule, Discuz.Forum" name="HttpModule" />
    </modules>
    <directoryBrowse enabled="true" />
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>