<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>

    <compilation
         defaultLanguage="c#"
         debug="true"
    />

    <authorization>
      <allow users="*" />

    </authorization>

    <trace
        enabled="false"
        requestLimit="10"
        pageOutput="false"
        traceMode="SortByTime"
        localOnly="true"
    />


    <customErrors
    mode="Off"
    />


    <globalization
            requestEncoding="utf-8"
            responseEncoding="utf-8"
            fileEncoding="utf-8"
    />


    <pages
            validateRequest="false"
            enableEventValidation="false"
            enableViewStateMac="false"
            viewStateEncryptionMode ="Never"
    />


    <httpModules>
      <add type="Discuz.Forum.HttpModule, Discuz.Forum" name="HttpModule" />
    </httpModules>

    <xhtmlConformance mode="Legacy"/>

    <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>

    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost"/>
      </protocols>
    </webServices>


  </system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules>
			<!--  注意：此节设置由Discuz!NT接管http请求。不会干涉对非Discuz!NT论坛路径下的请求。-->
			<add type="Discuz.Forum.HttpModule, Discuz.Forum" name="HttpModule" />
		</modules>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.aspx" />
				<add value="forumindex.aspx" />
				<add value="spaceindex.aspx" />
				<add value="albumindex.aspx" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="true" />
	</system.webServer>

</configuration>