<style>
#UserInfo{
	overflow:hidden;
	zoom:1;
	line-height:160%;
}
	.UserAvatar{
		float:left;
		overflow:hidden;
		zoom:1;
		width:40%;
		text-align:center;
	}
		.UserAvator img{
			border:1px solid #ccc;
			margin:10px;
		}
		.UserAvator div{
			display:block;
			paddigng-top:10px;
			text-align:center;
		}
	.UserDetail{
		float:right;
		overflow:hidden;
		zoom:1;
		width:58%;
		border-left:1px dashed #eee;
	}
		.UserDetail ul{
			margin:0;
			padding:0;
			margin-left:25px;
			list-style:none;
		}
		.UserDetail li{
			line-height:160%;
		}
			.UserDetail span{
				font-wegiht:bold;
			}
</style>

<div id="UserInfo">
			<div class="UserAvatar">
					${useravatar}
					<div><a href="${forumpath}usercppostpm.aspx?msgtoid=${userid}">发送短消息</a></div>
			</div>
			<div class="UserDetail">
				<ul>
					<li><span>用户名: </span> ${username} </li>
					<li><span>用户ID: </span>${userid} </li>
					<li><span>昵称: </span> ${nickname}</li>
					<li><span>用户组: </span> ${usergroup}</li>
					<li><span>积分: </span> ${usercredits}</li>
					${addoninfo}						
				</ul>	
			</div>
</div>

<div id="UserInfo2" style="text-align:center;">
	<div  style="width:120px; text-align:left; margin:0 auto;">
			<ul>
				<li>${useravatar}</li>
				<li><a href="${forumpath}usercppostpm.aspx?msgtoid=${userid}">发送短消息</a></li>
				<li><span>用户名: </span> ${username} </li>
				<li><span>用户ID: </span>${userid} </li>
				<li><span>昵称: </span> ${nickname}</li>
				<li><span>用户组: </span> ${usergroup}</li>
				<li><span>积分: </span> ${usercredits}</li>
				${addoninfo}
			</ul>
	</div>
</div>

<script type="text/javascript">
	if (parseInt(parent.document.getElementById('m___MODULE_ID__').parentNode.style.width)<=25)
	{
		document.write('<span id="m_hint___MODULE_ID__"><font style="font-size: 11px;color: red;">检测到当前容器宽度太小,可能会影响视觉效果</font></span>');
		window.setTimeout("_gel('m_hint___MODULE_ID__').parentNode.removeChild(_gel('m_hint___MODULE_ID__'))", 5000);
	}
</script>
