<%template _header%>
<%if {infloat}==1%>
    {msgbox_text}
<%else%>
<div id="nav">
	<div class="wrap s_clear">
	<a href="{config.forumurl}" class="title">{config.forumtitle}</a>
	<%if {topicid}!=-1%>
		 &raquo; {forumnav} &raquo; <%set {aspxrewriteurl} = this.ShowForumAspxRewrite({forumid},0)%>
		<a href="{aspxrewriteurl}">{topictitle}</a> &raquo; <strong>收藏主题</strong>
	<%/if%>
	<%if {config.enablealbum}==1 && {albumid}!=-1%>
		<strong>收藏相册</strong>
	<%/if%>
	</div>
</div>
<%if page_err==0%>
	<%template _msgbox%>
<%else%>
	<%template _errmsgbox%>
<%/if%>
<%/if%>
<%template _copyright%>
<%template _footer%>
