<%template _header%>
<%if {infloat}!=1%>
<div id="nav">
	<div class="wrap s_clear">
		<a href="{config.forumurl}" class="title">{config.forumtitle}</a> &raquo; <strong>密码找回</strong>
	</div>
</div>
<%/if%>


<%if {ispost}%>	
	 <%if {infloat}==1%>
		<%if page_err==0%>
			<script type="text/javascript">
			$('form3').style.display='none';
			$('returngetpwdmessage').className='';
			</script>
			<div class="msgbox">
			<h1>{config.forumtitle}　提示信息</h1>
			<p>{msgbox_text}</p>
			<%if {msgbox_url}!=""%>
			<h1><a href="javascript:;" onclick="location.reload()">如果长时间没有响应请点击此处</a></h1>
			<script type="text/javascript">setTimeout('location.reload()', 3000);</script>
			<%/if%>
			</div>
		<%else%>
			<p>{msgbox_text}</p>
		<%/if%>
	  <%else%>
			<%if page_err==0%>
			<%template _msgbox%>
			<%else%>
			<%template _errmsgbox%>
			<%/if%>	  
	  <%/if%>
<%else%>

<%if {infloat}!=1%>
<div class="wrap s_clear" id="wrap">
<div class="main login">
<div class="nojs">
<div class="float" id="floatlayout_getpassword" style="width: 600px; height: 360px;"><div>
<%else%>
<div class="float" id="floatlayout_getpassword" style="width: 600px; height: 400px;">
	<div style="width: 1800px">
	<div class="floatbox floatbox1">
	<h3 class="float_ctrl">
		<span>
			<a href="javascript:;" class="float_close" onclick="floatwin('close_getpassword')" title="关闭">关闭</a>
		</span>
	</h3>
<%/if%>
	<div class="gateform">
	<h3 id="returngetpwdmessage">密码找回</h3>
	<%if {infloat}!=1%>
	<form id="form3" name="form3" method="post" action="getpassword.aspx#">
	<%else%>
	<form id="form3" name="form3" method="post" onsubmit="javascript:$('form3').action='{rooturl}getpassword.aspx?infloat=1&';ajaxpost('form3', 'returngetpwdmessage', 'returngetpwdmessage', 'onerror');return false;" action="{rooturl}getpassword.aspx?infloat=1&">
	<%/if%>

      <div class="loginform regform">
		<label><em>用户名:</em><input type="text" class="txt" value="{username}" maxlength="20" size="25" autocomplete="off" name="username" id="username"/></label>
		<label><em>Email:</em><input name="email" type="text" id="email" size="25" class="txt" /></label>
	<%if {isseccode}%>	
		<label><em>验证码:</em>
				<span style="position: relative;">
				<%template _vcode%>
				</span>
		</label>
	<%/if%>
		<label>
			<em>安全问题:</em>
			<select name="question" id="question">
				<option value="0" selected="selected">无</option>
				<option value="1">母亲的名字</option>
				<option value="2">爷爷的名字</option>
				<option value="3">父亲出生的城市</option>
				<option value="4">您其中一位老师的名字</option>
				<option value="5">您个人计算机的型号</option>
				<option value="6">您最喜欢的餐馆名称</option>
				<option value="7">驾驶执照的最后四位数字</option>
			</select>		
		</label>
		<label>
			<em>答案</em>
			<input name="answer" type="text" id="answer" size="25" class="txt" />
			<p style="padding-left:60px;">如果设置了安全问题，请输入正确的答案</p>
		</label>
	</div>
	<div class="logininfo multinfo">
		<h4>没有帐号？			
			<a href="{rooturl}register.aspx"  onclick="floatwin('close_login');floatwin('open_register', this.href, 600, 400, '600,0');return false;">注册</a>
		</h4>
		<p>
		<a href="{rooturl}login.aspx" onClick="floatwin('open_login', '{rooturl}login.aspx', 600, 410);return false;">返回登录</a>
	</div>
	<p class="fsubmit">
		<span id="reginfo_b_btn">
			<button name="login" type="submit" id="login"  tabindex="1"  <%if {infloat}!=1%>onclick="javascript:window.location.replace('?agree=yes')"<%/if%>/>取回密码</button>
			<button name="cancel" type="button" id="cancel" onclick="javascript:location.replace('/')" />取消</button>
		</span>
	</p>
</form>
</div>
<%if {infloat}!=1%>
</div>
</div>
</div>
<%/if%>

<%/if%>
<%template _copyright%>
<%template _footer%>