<%template _header%>
<div id="nav">
	<div class="wrap s_clear">
		<a href="{config.forumurl}" class="title">{config.forumtitle}</a> &raquo; <a href="usercpprofile.aspx">用户中心</a> &raquo; <strong>我的帖子</strong>
	</div>
</div>
<div class="wrap with_side s_clear" id="wrap">
   <%template _menu%>
	<div class="cpmain">
	<div class="cpcontent datalist">
		<h1>我的帖子</h1>
	<%if page_err==0%>
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="datatable">
		<tr class="colplural">
			<td width="2%">&nbsp;</td>
			<td width="4%">&nbsp;</td>
			<th width="47%" style="text-align:left;">标题</th>
			<td width="20%">所在版块</td>
			<td>最后发表</td>
		</tr>
		<tbody>
		<%loop (TopicInfo) topic topics%>
		<tr>
			<td><%if {topic.folder}!=""%>
				<%set {aspxrewriteurl} = this.ShowTopicAspxRewrite({topic.tid},0)%>
				<a href="{aspxrewriteurl}" target="_blank"><img src="{imagedir}/folder_{topic.folder}.gif" alt="图例"/></a>
				<%/if%>
			</td>
			<td><%if {topic.iconid}!=0%><img src="{posticondir}/{topic.iconid}.gif" alt="图例" /><%else%>&nbsp;<%/if%></td>
			<td class="datatitle">
				<%set {aspxrewriteurl} = this.ShowTopicAspxRewrite({topic.tid},0)%>
				<a href="{aspxrewriteurl}" target="_blank">{topic.title}</a></td>
			<td>
				<%set {aspxrewriteurl} = this.ShowForumAspxRewrite({topic.fid},0)%>
				<a href="{aspxrewriteurl}" target="_blank">{topic.forumname}</a></td>
				<%set (string){lastpost}=ForumUtils.ConvertDateTime({topic.lastpost})%>	
			<td><span class="time"><a href="showtopic.aspx?topicid={topic.tid}&page=end">{lastpost}</a> by <%if {topic.lastposterid}!=-1%><a href="userinfo-{topic.lastposterid}{config.extname}" target="_blank">{topic.lastposter}</a><%else%>{topic.lastposter}<%/if%></span>
			</td>
		</tr>
		<%/loop%>
		</tbody>
		</table>
		<div class="cpbox s_clear">
			<div class="pages_btns">
				<div class="pages">
					{pagenumbers}<em>{pageid}/{pagecount}页</em>
				</div>
			</div>
		</div>
	<%else%>
		<%template _usercperrmsgbox%>
	<%/if%>
	</div>
</div>
<script type="text/javascript">
	function checkCheckBox(form,objtag)
	{
		for(var i = 0; i < form.elements.length; i++) 
		{
			var e = form.elements[i];
			if(e.name == "pmitemid") 
			{
				e.checked = objtag.checked;
			}
		}
		objtag.checked = !objtag.checked;
	}
</script>
</div>
<%template _copyright%>
<%template _footer%>
