<%template _header%>
<div id="nav">
	<div class="wrap s_clear">
		<a href="{config.forumurl}" class="title">{config.forumtitle}</a> &raquo; <a href="usercpprofile.aspx">用户中心</a> &raquo; <strong>更改密码</strong>
	</div>
</div>
<div class="wrap with_side s_clear" id="wrap">
   <%template _menu%>
	<div class="cpmain">
	<div class="cpcontent">
		<h1>更改密码</h1>
		<%template _permenu%>
		<%if page_err==0%>
			<%if ispost%>
				<%template _usercpmsgbox%>
			<%else%>
			<form action="" method="post" id="form1">
			<table cellspacing="0" cellpadding="0" class="formtable" summary="更改密码">
			<tbody>
			<tr>
				<th><label for="oldpassword">原密码</label></th>
				<td>
					<input name="oldpassword" type="password" id="oldpassword" size="25"  class="txt"/>
				</td>
			</tr>
			<tr>
				<th><label for="newpassword">新密码</label></th>
				<td>
					<input name="newpassword" type="password" id="newpassword" size="25" class="txt" /> 注:新密码为空将不对密码进行修改,密码区分大小写
				</td>
			</tr>
			<tr>
				<th><label for="newpassword2">重复新密码</label></th>
				<td>
					<input name="newpassword2" type="password" id="newpassword2" size="25"  class="txt"/>
				</td>
			</tr>
			<tr>
				<th><label for="location">安全问题:</label></th>
				<td>
					<select name="question" id="question">
						<option value="0" selected="selected">无</option>
						<option value="1">母亲的名字</option>
						<option value="2">爷爷的名字</option>
						<option value="3">父亲出生的城市</option>
						<option value="4">您其中一位老师的名字</option>
						<option value="5">您个人计算机的型号</option>
						<option value="6">您最喜欢的餐馆名称</option>
						<option value="7">驾驶执照的最后四位数字</option>
					</select><input type="checkbox" name="changesecques" value="1" ID="Checkbox1"/>修改安全提问
				</td>
			</tr>
			<tr>
				<th><label for="bday">答案:</label></th>
				<td>
					<input name="answer" type="text" id="answer" size="25" class="txt" />&nbsp;注:问题答案区分大小写
				</td>
			</tr>
			<%if {isseccode}%>
			<tr>
				<th><label for="bday">验证码:</label></th>
				<td>
					<span class="formcode" style="position: relative;"><%template _vcode%></span>
				</td>
			</tr>
			<%/if%>
			<tr>
				<th> </td>
				<td>
					<button type="submit" name="Submit" ID="Submit1">确定</button>
				</td>
			</tr>
			</tbody>
			</table>
			</form>
			<%/if%>
		<%else%>
			<%template _usercperrmsgbox%>
		<%/if%>
	</div>
	</div>
</div>
</div>
<%template _copyright%>
<%template _footer%>