<%template _header%>
<div id="nav">
	<div class="wrap s_clear">
		<a href="{config.forumurl}" class="title">{config.forumtitle}</a> &raquo; <a href="usercpprofile.aspx">用户中心</a> &raquo; <strong>积分支出记录</strong>
	</div>
</div>
<div class="wrap with_side s_clear" id="wrap">
   <%template _menu%>
	<div class="cpmain">
	<div class="cpcontent">
		<h1>积分支出记录</h1>
		<%template _scoremenu%>	
		<%if page_err==0%>
		<%if ispost%>
		<%template _usercpmsgbox%>
		<%else%>
		<%if {payloglist.rows.Count}>0%>
		<form id="form1" name="form1" method="post" action="" class="datalist">
		<table width="100%" border="0" cellspacing="0" cellpadding="0" class="datatable">
		<tr class="colplural">
			<th width="28%">标题</th>
			<th width="10%">作者</th>
			<th width="10%">发表时间</th>
			<th width="17%">论坛</th>
			<th width="13%">付费时间</th>
			<th width="5%">售价</th>
			<th>作者所得</th>
		</tr>
		<%loop paylog payloglist%>
		<tbody>
		<tr>
			<td class="datatitle">
				<%set {aspxrewriteurl} = this.ShowTopicAspxRewrite({paylog[tid]},0)%>
				<a href="{aspxrewriteurl}" target="_blank">{paylog[title]}</a>
			</td>
			<td>
				<%set {aspxrewriteurl} = this.UserInfoAspxRewrite({paylog[uid]})%>
				<a href="{aspxrewriteurl}" target="_blank">{paylog[authorname]}</a>
			</td>
			<td class="time">{paylog[postdatetime]}</td>
			<td>
				<%set {aspxrewriteurl} = this.ShowForumAspxRewrite({paylog[fid]},0)%>
				<a href="{aspxrewriteurl}" target="_blank">{paylog[forumname]}</a></td>
			<tdclass="time">{paylog[buydate]}</td>
			<td>{paylog[amount]}</td>
			<td>{paylog[netamount]}</td>
		</tr>
		</tbody>
		<%/loop%>
		</table>
		</form>
		<div class="cpbox s_clear">
			<div class="pages_btns">
				<div class="pages">
				<em>{pageid}/{pagecount}页</em> {pagenumbers}
				</div>
			</div>
		</div>
		<%else%>
		<div class="zerothreads">暂无记录</div>
		<%/if%>
		<%/if%>
		<%else%>
		<%template _usercperrmsgbox%>
		<%/if%>
		
	</div>
	</div>
</div>
<%template _copyright%>
<%template _footer%>