<?xml version="1.0" standalone="yes"?>
<Aggregationinfo>
  <Aggregationpage>
    <Spaceindex>
      <Spaceindex_spacearticlelist>
        <Article>
          <postid>195</postid>
          <author>admin</author>
          <uid>1</uid>
          <postdatetime>2008-2-26 9:30:01</postdatetime>
          <content>测测测</content>
          <title>日志标签兼容性测试</title>
          <category>
          </category>
          <poststatus>1</poststatus>
          <commentstatus>0</commentstatus>
          <postupdatetime>2008-2-26 9:30:01</postupdatetime>
          <commentcount>0</commentcount>
          <views>2</views>
        </Article>
      </Spaceindex_spacearticlelist>
    </Spaceindex>
    <Website>
      <Website_spacearticlelist>
        <Article>
          <postid>195</postid>
          <author>admin</author>
          <uid>1</uid>
          <postdatetime>2008-2-26 9:30:01</postdatetime>
          <content>测测测</content>
          <title>日志标签兼容性测试</title>
          <category>
          </category>
          <poststatus>1</poststatus>
          <commentstatus>0</commentstatus>
          <postupdatetime>2008-2-26 9:30:01</postupdatetime>
          <commentcount>0</commentcount>
          <views>2</views>
        </Article>
      </Website_spacearticlelist>
      <Website_rotatepiclist>
        <Website_rotatepic>
          <rotatepicid>1</rotatepicid>
          <pagetype>1</pagetype>
          <img>http://nt.discuz.net/images/ad/flash_01.jpg</img>
          <url>http://www.comsenz.com/products/supesite</url>
          <titlecontent>supesite</titlecontent>
        </Website_rotatepic>
        <Website_rotatepic>
          <rotatepicid>2</rotatepicid>
          <pagetype>1</pagetype>
          <img>http://nt.discuz.net/images/ad/flash_02.jpg</img>
          <url>http://www.comsenz.com/products/xspace</url>
          <titlecontent>xspace</titlecontent>
        </Website_rotatepic>
        <Website_rotatepic>
          <rotatepicid>3</rotatepicid>
          <pagetype>1</pagetype>
          <img>http://nt.discuz.net/images/ad/flash_03.jpg</img>
          <url>http://www.comsenz.com/products/nt</url>
          <titlecontent>Discuz!NT</titlecontent>
        </Website_rotatepic>
      </Website_rotatepiclist>
      <Website_forumrecomend>
        <fidlist>87,111</fidlist>
      </Website_forumrecomend>
      <Website_forumrecomendtopiclist>
        <Website_forumrecomendtopic>
          <fid>87</fid>
          <tid>2</tid>
          <img>http://localhost/templates/default/images/gather/topicpic.gif</img>
          <title>主题一</title>
        </Website_forumrecomendtopic>
        <Website_forumrecomendtopic>
          <fid>111</fid>
          <tid>42</tid>
          <img>http://i3.sinaimg.cn/dy/FocusPic/124/2008-03-24/U1010P1T124D2F2633DT20080425092016.jpg</img>
          <title>主题一</title>
        </Website_forumrecomendtopic>
      </Website_forumrecomendtopiclist>
      <Website_albumlist>
        <Album>
          <albumid>2</albumid>
          <albumcateid>1</albumcateid>
          <userid>8</userid>
          <username>bryan</username>
          <title>11111</title>
          <logo>
          </logo>
          <password>
          </password>
          <imgcount>1</imgcount>
          <views>53</views>
          <type>0</type>
          <createdatetime>2007-6-8 16:53:03</createdatetime>
        </Album>
      </Website_albumlist>
      <Website_spacelist>
        <Space>
          <spaceid>37</spaceid>
          <userid>131</userid>
          <spacetitle>hello world</spacetitle>
          <blogdispmode>0</blogdispmode>
          <bpp>1</bpp>
          <commentpref>0</commentpref>
          <messagepref>0</messagepref>
          <rewritename>123</rewritename>
          <themeid>121</themeid>
          <themepath>dream</themepath>
          <postcount>2</postcount>
          <commentcount>0</commentcount>
          <visitedtimes>1</visitedtimes>
          <createdatetime>2008-2-18 14:17:00</createdatetime>
          <updatedatetime>2008-2-18 14:19:00</updatedatetime>
          <defaulttab>0</defaulttab>
          <status>0</status>
          <albumcount>2</albumcount>
          <title>hello world</title>
          <pic>avatars\common\0.gif</pic>
          <description><![CDATA[hello world]]></description>
          <postid>189</postid>
          <posttitle>ffffffffffffffffffffffffffffffffffffffffffff</posttitle>
        </Space>
      </Website_spacelist>
    </Website>
    <Albumindex>
      <Albumindex_rotatepiclist>
        <Albumindex_rotatepic>
          <rotatepicid>1</rotatepicid>
          <pagetype>1</pagetype>
          <img>http://i2.sinaimg.cn/dy/report/U2004P1T389D1F8759DT20080419095159.jpg</img>
          <url>http://news.sina.com.cn/report/index.shtml</url>
          <titlecontent>dsdsdsdffdsdfdfdsf</titlecontent>
        </Albumindex_rotatepic>
      </Albumindex_rotatepiclist>
    </Albumindex>
  </Aggregationpage>
</Aggregationinfo>