<?xml version="1.0"?>
<AggregationConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SpaceTopNewCommentsCount>10</SpaceTopNewCommentsCount>
  <SpaceTopNewCommentsTimeout>20</SpaceTopNewCommentsTimeout>
  <TopcommentcountPostListCount>10</TopcommentcountPostListCount>
  <TopcommentcountPostListTimeout>20</TopcommentcountPostListTimeout>
  <TopviewsPostListCount>10</TopviewsPostListCount>
  <TopviewsPostListTimeout>10</TopviewsPostListTimeout>
  <TopcommentcountSpaceListCount>10</TopcommentcountSpaceListCount>
  <TopcommentcountSpaceListTimeout>20</TopcommentcountSpaceListTimeout>
  <TopvisitedtimesSpaceListCount>10</TopvisitedtimesSpaceListCount>
  <TopvisitedtimesSpaceListTimeout>20</TopvisitedtimesSpaceListTimeout>
  <ToppostcountSpaceListCount>10</ToppostcountSpaceListCount>
  <ToppostcountSpaceListTimeout>20</ToppostcountSpaceListTimeout>
  <RecentUpdateSpaceAggregationListCount>20</RecentUpdateSpaceAggregationListCount>
  <RecentUpdateSpaceAggregationListTimeout>20</RecentUpdateSpaceAggregationListTimeout>
</AggregationConfigInfo>