<?xml version="1.0"?>
<APIConfigInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Enable>true</Enable>
  <AppCollection>
    <ApplicationInfo>
      <AppName>iArsenal.cn</AppName>
      <AppUrl>http://localhost:4323/</AppUrl>
      <APIKey>e5b551b11b65fd03bf8e9afe14a092c5</APIKey>
      <Secret>68a9b3a904bc09ce89a62310e9ebbd3c</Secret>
      <CallbackUrl>http://localhost:4323/ServerACNCallback.ashx</CallbackUrl>
      <SyncUrl />
      <SyncMode>0</SyncMode>
      <SyncList />
      <ApplicationType>1</ApplicationType>
      <IPAddresses />
    </ApplicationInfo>
    <ApplicationInfo>
      <AppName>Arsenal.cn</AppName>
      <AppUrl>http://localhost:6421/</AppUrl>
      <APIKey>6b5f1ae8072ed4983c3c43a2a85be972</APIKey>
      <Secret>846700e34ebab23c317d85675e1c5028</Secret>
      <CallbackUrl>http://localhost:6421/ServerACNCallback.ashx</CallbackUrl>
      <SyncUrl />
      <SyncMode>1</SyncMode>
      <SyncList />
      <ApplicationType>1</ApplicationType>
      <IPAddresses />
    </ApplicationInfo>
  </AppCollection>
</APIConfigInfo>