<?xml version="1.0" standalone="yes"?>
<cachetableremove>
  <table1 xpath="example" removedatetime="2007-1-9 17:36:23" />
  <table1 xpath="" removedatetime="2007-7-3 15:30:16" />
  <table1 xpath="/Space/AlbumCategory" removedatetime="2007-7-5 16:56:14" />
  <table1 xpath="/Forum/AdminGroupList" removedatetime="2008/5/27 19:20:02" />
  <table1 xpath="/Forum/UserGroupList" removedatetime="2008/5/27 19:20:02" />
  <table1 xpath="/Forum/ModeratorList" removedatetime="2008/5/7 16:10:27" />
  <table1 xpath="/Forum/AnnouncementList" removedatetime="2007-7-16 9:34:44" />
  <table1 xpath="/Forum/SimplifiedAnnouncementList" removedatetime="2007-7-16 9:34:44" />
  <table1 xpath="/Forum/UI/ForumListBoxOptions" removedatetime="2008/5/7 16:10:26" />
  <table1 xpath="/Forum/UI/SmiliesList" removedatetime="2007-7-12 9:40:51" />
  <table1 xpath="/Forum/UI/SmiliesListWithInfo" removedatetime="2007-7-3 17:03:34" />
  <table1 xpath="/Forum/UI/IconsList" removedatetime="2007-7-3 17:03:34" />
  <table1 xpath="/Forum/UI/CustomEditButtonList" removedatetime="2007-7-3 17:03:34" />
  <table1 xpath="/Forum/UI/CustomEditButtonInfo" removedatetime="2007-7-3 17:03:34" />
  <table1 xpath="/Forum/Setting" removedatetime="2008/5/27 19:16:46" />
  <table1 xpath="/Forum/Scoreset" removedatetime="2007-7-11 13:40:34" />
  <table1 xpath="/Forum/ValidScoreName" removedatetime="2007-7-11 13:38:44" />
  <table1 xpath="/Forum/Scoreset/CreditsTax" removedatetime="2007-7-11 13:40:34" />
  <table1 xpath="/Forum/Scoreset/CreditsTrans" removedatetime="2007-7-11 13:40:34" />
  <table1 xpath="/Forum/Scoreset/TransferMinCredits" removedatetime="2007-7-11 13:40:35" />
  <table1 xpath="/Forum/Scoreset/ExchangeMinCredits" removedatetime="2007-7-11 13:40:35" />
  <table1 xpath="/Forum/Scoreset/MaxIncPerThread" removedatetime="2007-7-11 13:40:35" />
  <table1 xpath="/Forum/Scoreset/MaxChargeSpan" removedatetime="2007-7-11 13:40:35" />
  <table1 xpath="/Forum/ValidScoreUnit" removedatetime="2007-7-11 13:40:35" />
  <table1 xpath="/Forum/Urls" removedatetime="2007-7-16 14:38:34" />
  <table1 xpath="/Forum/Statistics" removedatetime="2008/5/28 9:56:11" />
  <table1 xpath="/Forum/ForumSetting/AttachmentType" removedatetime="2007-7-16 11:37:43" />
  <table1 xpath="/Forum/UI/TemplateListBoxOptions" removedatetime="2008/4/30 0:40:07" />
  <table1 xpath="/Forum/UI/OnlineIconList" removedatetime="2007-7-3 17:03:34" />
  <table1 xpath="/Forum/OnlineIconTable" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/ForumLinkList" removedatetime="2007-7-13 14:47:40" />
  <table1 xpath="/Forum/BanWordList" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/ForumList" removedatetime="2008/5/7 16:10:26" />
  <table1 xpath="/Forum/RSS/" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/RSS/Index" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/TemplateIDList" removedatetime="2008/4/30 0:40:07" />
  <table1 xpath="/Forum/UI/MedalsList" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/BaseSetting/Dbconnectstring" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/BaseSetting/TablePrefix" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/PostTableName" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/LastPostTableName" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/Advertisements" removedatetime="2007-7-9 16:23:49" />
  <table1 xpath="/Forum/StatisticsSearchtime" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/StatisticsSearchcount" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/CommonAvatarList" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/UI/Jammer" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/MagicList" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/ScorePaySet" removedatetime="2007-7-11 13:38:44" />
  <table1 xpath="/Forum/TopicList-16--1-0-All-ID-True" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/TopicList-16-30-0-All-ID-False" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/TopicList-16--1-0-All-ID-False" removedatetime="2007-7-3 17:03:35" />
  <table1 xpath="/Forum/TopicTypesOption15" removedatetime="2007-7-9 13:41:52" />
  <table1 xpath="/Forum/TopicTypesLink15" removedatetime="2007-7-9 13:41:52" />
  <table1 xpath="/Forum/TopicTypesOption26" removedatetime="2007-7-10 16:08:56" />
  <table1 xpath="/Forum/TopicTypesLink26" removedatetime="2007-7-10 16:08:56" />
  <table1 xpath="/Forum/TopicTypesOption24" removedatetime="2007-7-10 16:09:04" />
  <table1 xpath="/Forum/TopicTypesLink24" removedatetime="2007-7-10 16:09:04" />
  <table1 xpath="/Forum/TopicTypesOption25" removedatetime="2007-7-10 16:17:06" />
  <table1 xpath="/Forum/TopicTypesLink25" removedatetime="2007-7-10 16:17:06" />
  <table1 xpath="/Photo/RecommendPhotoList" removedatetime="2007-7-10 17:37:41" />
  <table1 xpath="/Photo/RecommendAlbumList" removedatetime="2007-7-10 17:37:41" />
  <table1 xpath="/Photo/FocusPhotoList0-8-7" removedatetime="2007-7-10 17:37:41" />
  <table1 xpath="/Photo/FocusAlbumList1-10-7" removedatetime="2007-7-10 17:22:39" />
  <table1 xpath="/Aggregation/RecentUpdateSpaceList10" removedatetime="2007-7-10 17:37:41" />
  <table1 xpath="/Photo/FocusAlbumList-1-10-7" removedatetime="2007-7-10 17:25:20" />
  <table1 xpath="/Photo/FocusAlbumList0-10-7" removedatetime="2007-7-10 17:37:41" />
  <table1 xpath="/Forum/ScoreSet" removedatetime="2007-7-11 13:38:44" />
  <table1 xpath="/Forum/TopicTypesOption16" removedatetime="2007-7-12 14:17:07" />
  <table1 xpath="/Forum/TopicTypesLink16" removedatetime="2007-7-12 14:17:07" />
  <table1 xpath="/Forum/TopicTypesOption22" removedatetime="2007-7-16 15:17:05" />
  <table1 xpath="/Forum/TopicTypesLink22" removedatetime="2007-7-16 15:17:05" />
  <table1 xpath="/Space/ModuleDefList" removedatetime="2007-12-11 14:33:55" />
  <table1 xpath="/Space/RecentUpdateSpaceAggregationList" removedatetime="2007-12-11 18:45:20" />
  <table1 xpath="/Forum/TemplateList" removedatetime="2008/4/30 0:40:07" />
  <table1 xpath="/Forum/mynewtemplate/TemplateVariable" removedatetime="2008/4/29 14:08:34" />
  <table1 xpath="/Forum/TopicTypesOption86" removedatetime="2008/5/7 16:10:26" />
  <table1 xpath="/Forum/TopicTypesLink86" removedatetime="2008/5/7 16:10:26" />
  <table1 xpath="/Aggregation/HotForumList" removedatetime="2008/5/7 16:10:27" />
  <table1 xpath="/Aggregation/ForumHotTopicList" removedatetime="2008/5/7 16:10:27" />
  <table1 xpath="/Aggregation/ForumNewTopicList" removedatetime="2008/5/7 16:10:27" />
</cachetableremove>