<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Smtp>smtp.126.com</Smtp>
  <Port>25</Port>
  <Sysemail>test@126.com</Sysemail>
  <Username>test1111</Username>
  <Password>test</Password>
  <Emailcontent>尊敬的用户:

您好!

    您已在本论坛注册成功, 论坛地址为:{forumurl}

    感谢您使用{forumtitle}的服务, 如果您需要了解更多{forumtitle}相关的信息, 请登录我们的网站: {weburl}
    
    希望您继续支持我们
    
    
{webtitle}</Emailcontent>
  <PluginNameSpace>Discuz.PlugIn.SysMailMessage</PluginNameSpace>
  <DllFileName>Discuz.PlugIn.dll</DllFileName>
</EmailConfigInfo>