<?xml version="1.0"?>
<ForumHotConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Enable>true</Enable>
  <ForumHotCollection>
    <ForumHotItemInfo>
      <Id>1</Id>
      <Enabled>1</Enabled>
      <Name>最新主题</Name>
      <Datatype>topics</Datatype>
      <Sorttype>PostDateTime</Sorttype>
      <Forumlist />
      <Dataitemcount>13</Dataitemcount>
      <Forumnamelength>10</Forumnamelength>
      <Topictitlelength>20</Topictitlelength>
      <Cachetimeout>0</Cachetimeout>
      <Datatimetype>All</Datatimetype>
    </ForumHotItemInfo>
    <ForumHotItemInfo>
      <Id>2</Id>
      <Enabled>1</Enabled>
      <Name>热门主题</Name>
      <Datatype>topics</Datatype>
      <Sorttype>Views</Sorttype>
      <Forumlist />
      <Dataitemcount>13</Dataitemcount>
      <Forumnamelength>10</Forumnamelength>
      <Topictitlelength>20</Topictitlelength>
      <Cachetimeout>0</Cachetimeout>
      <Datatimetype>All</Datatimetype>
    </ForumHotItemInfo>
    <ForumHotItemInfo>
      <Id>3</Id>
      <Enabled>1</Enabled>
      <Name>精华主题</Name>
      <Datatype>topics</Datatype>
      <Sorttype>Digest</Sorttype>
      <Forumlist />
      <Dataitemcount>13</Dataitemcount>
      <Forumnamelength>10</Forumnamelength>
      <Topictitlelength>20</Topictitlelength>
      <Cachetimeout>0</Cachetimeout>
      <Datatimetype>All</Datatimetype>
    </ForumHotItemInfo>
    <ForumHotItemInfo>
      <Id>4</Id>
      <Enabled>1</Enabled>
      <Name>用户发帖排行</Name>
      <Datatype>users</Datatype>
      <Sorttype>posts</Sorttype>
      <Forumlist />
      <Dataitemcount>20</Dataitemcount>
      <Forumnamelength>0</Forumnamelength>
      <Topictitlelength>0</Topictitlelength>
      <Cachetimeout>0</Cachetimeout>
      <Datatimetype>posts</Datatimetype>
    </ForumHotItemInfo>
    <ForumHotItemInfo>
      <Id>5</Id>
      <Enabled>1</Enabled>
      <Name>版块发帖排行</Name>
      <Datatype>forums</Datatype>
      <Sorttype>posts</Sorttype>
      <Forumlist />
      <Dataitemcount>20</Dataitemcount>
      <Forumnamelength>20</Forumnamelength>
      <Topictitlelength>0</Topictitlelength>
      <Cachetimeout>0</Cachetimeout>
      <Datatimetype>All</Datatimetype>
    </ForumHotItemInfo>
    <ForumHotItemInfo>
      <Id>6</Id>
      <Enabled>1</Enabled>
      <Name>热点图片</Name>
      <Datatype>pictures</Datatype>
      <Sorttype>aid</Sorttype>
      <Forumlist />
      <Dataitemcount>5</Dataitemcount>
      <Forumnamelength>0</Forumnamelength>
      <Topictitlelength>0</Topictitlelength>
      <Cachetimeout>0</Cachetimeout>
      <Datatimetype>All</Datatimetype>
    </ForumHotItemInfo>
  </ForumHotCollection>
</ForumHotConfigInfo>