<?xml version="1.0"?>
<ArrayOfFTPConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FTPConfigInfo>
    <Name>ForumAttach</Name>
    <Serveraddress>ftpserver</Serveraddress>
    <Serverport>21</Serverport>
    <Username>username</Username>
    <Password>password</Password>
    <Mode>1</Mode>
    <Allowupload>0</Allowupload>
    <Uploadpath>test</Uploadpath>
    <Timeout>10</Timeout>
    <Remoteurl>http://localhost/forumattach</Remoteurl>
    <Reservelocalattach>0</Reservelocalattach>
    <Reserveremoteattach>1</Reserveremoteattach>
  </FTPConfigInfo>
  <FTPConfigInfo>
    <Name>SpaceAttach</Name>
    <Serveraddress>ftpserver</Serveraddress>
    <Serverport>21</Serverport>
    <Username>username</Username>
    <Password>password</Password>
    <Mode>1</Mode>
    <Allowupload>0</Allowupload>
    <Uploadpath>test</Uploadpath>
    <Timeout>20</Timeout>
    <Remoteurl>http://localhost/spaceattach</Remoteurl>
    <Reservelocalattach>0</Reservelocalattach>
    <Reserveremoteattach>1</Reserveremoteattach>
  </FTPConfigInfo>
  <FTPConfigInfo>
    <Name>AlbumAttach</Name>
    <Serveraddress>ftpserver</Serveraddress>
    <Serverport>21</Serverport>
    <Username>username</Username>
    <Password>password</Password>
    <Mode>1</Mode>
    <Allowupload>0</Allowupload>
    <Uploadpath>test</Uploadpath>
    <Timeout>20</Timeout>
    <Remoteurl>http://localhost/albumattach</Remoteurl>
    <Reservelocalattach>0</Reservelocalattach>
    <Reserveremoteattach>1</Reserveremoteattach>
  </FTPConfigInfo>
  <FTPConfigInfo>
    <Name>MallAttach</Name>
    <Serveraddress>ftpserver</Serveraddress>
    <Serverport>21</Serverport>
    <Username>username</Username>
    <Password>password</Password>
    <Mode>1</Mode>
    <Allowupload>0</Allowupload>
    <Uploadpath>test</Uploadpath>
    <Timeout>10</Timeout>
    <Remoteurl>http://localhost/mallattach</Remoteurl>
    <Reservelocalattach>0</Reservelocalattach>
    <Reserveremoteattach>1</Reserveremoteattach>
  </FTPConfigInfo>
  <FTPConfigInfo>
		<Name>ForumAvatar</Name>
		<Serveraddress></Serveraddress>
		<Serverport>21</Serverport>
		<Username></Username>
		<Password></Password>
		<Mode>0</Mode>
		<Allowupload>0</Allowupload>
		<Uploadpath></Uploadpath>
		<Timeout>20</Timeout>
		<Remoteurl>http://localhost/forumavatar</Remoteurl>
		<Reservelocalattach>1</Reservelocalattach>
    <Reserveremoteattach>1</Reserveremoteattach>
  </FTPConfigInfo>
</ArrayOfFTPConfigInfo>