<?xml version="1.0"?>
<GeneralConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Debatepagesize>5</Debatepagesize>
  <Forumtitle>Discuz!NT</Forumtitle>
  <Forumurl>forumindex.aspx</Forumurl>
  <Webtitle>Discuz!NT</Webtitle>
  <Weburl />
  <Licensed>0</Licensed>
  <Icp />
  <Closed>0</Closed>
  <Closedreason>抱歉!论坛暂时关闭,稍后才能访问.</Closedreason>
  <Isframeshow>0</Isframeshow>
  <Admintools>0</Admintools>
  <Indexpage>0</Indexpage>
  <Linktext>&lt;a href="http://nt.discuz.net" title="The Official Discuz!NT Site" target="_blank"&gt;Discuz!NT&lt;/a&gt;</Linktext>
  <Statcode />
  <Passwordkey>8V6DLRFBJ4</Passwordkey>
  <Regstatus>1</Regstatus>
  <Regadvance>1</Regadvance>
  <Realnamesystem>0</Realnamesystem>
  <Censoruser>admin
管理员
版主
超级版主</Censoruser>
  <Doublee>0</Doublee>
  <Regverify>0</Regverify>
  <Accessemail />
  <Censoremail />
  <Hideprivate>0</Hideprivate>
  <Regctrl>0</Regctrl>
  <Ipregctrl />
  <Ipdenyaccess />
  <Ipaccess />
  <Adminipaccess />
  <Newbiespan>0</Newbiespan>
  <Welcomemsg>1</Welcomemsg>
  <Welcomemsgtxt>尊敬的用户, 您已经注册成为本论坛的会员, 请您在发表言论时, 遵守当地法律法规. 如果您有什么疑问可以联系管理员.</Welcomemsgtxt>
  <Rules>0</Rules>
  <Rulestxt>1 遵守国家法律法规&lt;br/&gt;
2 遵守所有与网络服务有关的网络协议、规定和程序&lt;br/&gt;
3 不得为任何非法目的而使用网络服务系统</Rulestxt>
  <Secques>1</Secques>
  <Templateid>1</Templateid>
  <Hottopic>15</Hottopic>
  <Starthreshold>2</Starthreshold>
  <Visitedforums>20</Visitedforums>
  <Maxsigrows>5</Maxsigrows>
  <Moddisplay>0</Moddisplay>
  <Subforumsindex>1</Subforumsindex>
  <Stylejump>1</Stylejump>
  <Fastpost>3</Fastpost>
  <Showsignatures>1</Showsignatures>
  <Showavatars>1</Showavatars>
  <Showimages>1</Showimages>
  <Smiliesmax>5</Smiliesmax>
  <Archiverstatus>1</Archiverstatus>
  <Seotitle>ASP.net|论坛</Seotitle>
  <Seokeywords>ASP.net,论坛</Seokeywords>
  <Seodescription>Discuz!NT,论坛,asp.net</Seodescription>
  <Seohead />
  <Rssstatus>1</Rssstatus>
  <Rssttl>60</Rssttl>
  <Sitemapstatus>1</Sitemapstatus>
  <Sitemapttl>12</Sitemapttl>
  <Nocacheheaders>0</Nocacheheaders>
  <Fullmytopics>1</Fullmytopics>
  <Debug>1</Debug>
  <Rewriteurl />
  <Extname>.aspx</Extname>
  <Whosonlinestatus>1</Whosonlinestatus>
  <Maxonlinelist>300</Maxonlinelist>
  <Userstatusby>1</Userstatusby>
  <Forumjump>1</Forumjump>
  <Modworkstatus>1</Modworkstatus>
  <Maxmodworksmonths>3</Maxmodworksmonths>
  <Seccodestatus></Seccodestatus>
  <Guestcachepagetimeout>0</Guestcachepagetimeout>
  <Topiccachemark>0</Topiccachemark>
  <Maxonlines>5000</Maxonlines>
  <Postinterval>15</Postinterval>
  <Searchctrl>30</Searchctrl>
  <Maxspm>5</Maxspm>
  <Visitbanperiods />
  <Postbanperiods />
  <Postmodperiods />
  <Attachbanperiods />
  <Searchbanperiods />
  <Memliststatus>1</Memliststatus>
  <Dupkarmarate>0</Dupkarmarate>
  <Minpostsize>5</Minpostsize>
  <Maxpostsize>20000</Maxpostsize>
  <Tpp>20</Tpp>
  <Ppp>10</Ppp>
  <Maxfavorites>100</Maxfavorites>
  <Maxavatarsize>51200</Maxavatarsize>
  <Maxavatarwidth>120</Maxavatarwidth>
  <Maxavatarheight>120</Maxavatarheight>
  <Maxpolloptions>10</Maxpolloptions>
  <Maxattachments>10</Maxattachments>
  <Attachimgpost>1</Attachimgpost>
  <Attachrefcheck>0</Attachrefcheck>
  <Attachsave>1</Attachsave>
  <Watermarkstatus>9</Watermarkstatus>
  <Watermarktype>1</Watermarktype>
  <Watermarktransparency>5</Watermarktransparency>
  <Watermarktext>{3} {4}上传于{1} {2}</Watermarktext>
  <Watermarkpic>watermark.png</Watermarkpic>
  <Watermarkfontname>Tahoma</Watermarkfontname>
  <Watermarkfontsize>12</Watermarkfontsize>
  <Showattachmentpath>0</Showattachmentpath>
  <Attachimgquality>80</Attachimgquality>
  <Attachimgmaxheight>0</Attachimgmaxheight>
  <Attachimgmaxwidth>0</Attachimgmaxwidth>
  <Reasonpm>0</Reasonpm>
  <Moderactions>1</Moderactions>
  <Karmaratelimit>0</Karmaratelimit>
  <Losslessdel>0</Losslessdel>
  <Edittimelimit>0</Edittimelimit>
  <Editedby>1</Editedby>
  <Defaulteditormode>1</Defaulteditormode>
  <Allowswitcheditor>1</Allowswitcheditor>
  <Smileyinsert>1</Smileyinsert>
  <CookieDomain />
  <Passwordmode>0</Passwordmode>
  <Bbcodemode>0</Bbcodemode>
  <Fulltextsearch>0</Fulltextsearch>
  <Cachelog>0</Cachelog>
  <Onlinetimeout>-10</Onlinetimeout>
  <TopicQueueStats>0</TopicQueueStats>
  <TopicQueueStatsCount>0</TopicQueueStatsCount>
  <DisplayRateCount>30</DisplayRateCount>
  <Reportusergroup>1</Reportusergroup>
  <Photomangegroups />
  <Silverlight>1</Silverlight>
  <Enablespace>0</Enablespace>
  <Enablealbum>0</Enablealbum>
  <Spacename>空间</Spacename>
  <Spaceurl>spaceindex.aspx</Spaceurl>
  <Albumname>相册</Albumname>
  <Albumurl>albumindex.aspx</Albumurl>
  <BrowseCreateTemplate>0</BrowseCreateTemplate>
  <Ratevalveset>1,50,200,600,800</Ratevalveset>
  <Topictoblog>1</Topictoblog>
  <Aspxrewrite>1</Aspxrewrite>
  <Viewnewtopicminute>120</Viewnewtopicminute>
  <Htmltitle>0</Htmltitle>
  <Htmltitleusergroup />
  <Specifytemplate>0</Specifytemplate>
  <VerifyImageAssemly />
  <Mytopicsavetime>30</Mytopicsavetime>
  <Mypostsavetime>30</Mypostsavetime>
  <Myattachmentsavetime>30</Myattachmentsavetime>
  <Enabletag>1</Enabletag>
  <Enablemall>0</Enablemall>
  <Statscachelife>120</Statscachelife>
  <Statstatus>0</Statstatus>
  <Pvfrequence>60</Pvfrequence>
  <Oltimespan>20</Oltimespan>
  <Recommenddebates />
  <Gpp>16</Gpp>
  <Hottagcount>10</Hottagcount>
  <Disablepostad>0</Disablepostad>
  <Disablepostadregminute>60</Disablepostadregminute>
  <Disablepostadpostcount>5</Disablepostadpostcount>
  <Disablepostadregular>((\d{4}|\d{4}-)?(\d(?:\s*)){7})|((\d{3}|\d{3}-)?\d{8})|(1(?:\s*)[35](?:\s*)[0123456789](?:\s*)(\d(?:\s*)){8})[qQ](.+?)(\d(?:\s*)){7}|http(s)://([\w-]+\.)+[\w-]+(/[\w- ./?%&amp;=]*)?</Disablepostadregular>
  <Whosonlinecontract>0</Whosonlinecontract>
  <Postnocustom />
  <Iisurlrewrite>0</Iisurlrewrite>
  <Notificationreserveddays>7</Notificationreserveddays>
  <Maxindexsubforumcount>0</Maxindexsubforumcount>
  <Deletingexpireduserfrequency>5</Deletingexpireduserfrequency>
  <Replynotificationstatus>1</Replynotificationstatus>
  <Replyemailstatus>1</Replyemailstatus>
  <Allowfloatwin>1</Allowfloatwin>
  <Allwoforumindexpost>0</Allwoforumindexpost>
  <Onlineoptimization>0</Onlineoptimization>
  <OnlineUserCountCacheMinute>0</OnlineUserCountCacheMinute>
  <Shownewposticon>1</Shownewposticon>
  <Webgarden>1</Webgarden>
</GeneralConfigInfo>