<?xml version="1.0"?>
<InvitationConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <InviteCodeExpireTime>1</InviteCodeExpireTime>
  <InviteCodeMaxCount>0</InviteCodeMaxCount>
  <InviteCodePayCount>0</InviteCodePayCount>
  <InviteCodePrice>0,0,0,0,0,0,0,0</InviteCodePrice>
  <InvitationLoginUserDescription>&lt;P&gt;说明：这个位置可以由站长编辑针对已注册用户的邀请推广计划说明。&lt;/P&gt;&lt;br /&gt;&lt;P&gt; &lt;/P&gt;&lt;br /&gt;&lt;P&gt;example:&lt;/P&gt;&lt;br /&gt;&lt;P align=center&gt;&lt;FONT size=6&gt;让更多的人加入到我们的行列&lt;/FONT&gt;&lt;/P&gt;&lt;br /&gt;&lt;P align=left&gt;&lt;FONT size=4&gt;    【给注册用户的陈述】&lt;/FONT&gt;&lt;/P&gt;</InvitationLoginUserDescription>
  <InvitationVisitorDescription>&lt;P&gt;说明：这个位置可以由站长编辑针对未注册用户的邀请推广计划说明。&lt;/P&gt;&lt;br /&gt;&lt;P&gt; &lt;/P&gt;&lt;br /&gt;&lt;P&gt;example:&lt;/P&gt;&lt;br /&gt;&lt;P align=center&gt;&lt;FONT size=6&gt;欢迎您加入到我们的行列&lt;/FONT&gt;&lt;/P&gt;&lt;br /&gt;&lt;P align=left&gt;&lt;FONT size=4&gt;    【给游客的陈述】&lt;/FONT&gt;&lt;/P&gt;</InvitationVisitorDescription>
  <InvitationEmailTemplate>&lt;DIV style="FONT-SIZE: 14px"&gt;&lt;TABLE&gt;&lt;TBODY&gt;&lt;TR&gt;&lt;TD&gt;&lt;DIV style="WIDTH: 10px; MARGIN-LEFT: 10px"&gt;&lt;IMG src="{9}" onerror="this.src='/images/common/noavatar_medium.gif';"&gt;&lt;/DIV&gt;&lt;/TD&gt;&lt;TD&gt;&lt;DIV style="MARGIN-LEFT: 140px"&gt;{0}:&lt;/DIV&gt;&lt;br /&gt;&lt;DIV style="MARGIN-LEFT: 160px"&gt;&lt;BR&gt;您的朋友  &lt;A href="{6}userinfo-{1}.aspx"&gt;{2}&lt;/A&gt; 邀请您加入到 {4} 行列当中。&lt;BR&gt;&lt;BR&gt;{5}&lt;BR&gt;&lt;BR&gt;请加入到 {4} 行列当中，在这里您可以得到您想得到的信息，结交到志同道合的朋友&lt;BR&gt;&lt;BR&gt;&lt;STRONG&gt;请您点击以下链接，接受好友邀请：&lt;/STRONG&gt;&lt;BR&gt;{3}&lt;/DIV&gt;&lt;/TD&gt;&lt;/TR&gt;&lt;/TBODY&gt;&lt;/TABLE&gt;&lt;/DIV&gt;</InvitationEmailTemplate>
  <InviteCodeMaxCountToBuy>20</InviteCodeMaxCountToBuy>
  <InviteCodeUserCreatePerDay>5</InviteCodeUserCreatePerDay>
</InvitationConfigInfo>