<?xml version="1.0" encoding="utf-8"?>
<MyAttachmentsTypeConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <attachtypes>
    <AttachmentType>
      <TypeId>1</TypeId>
      <TypeName>图片</TypeName>
      <ExtName>jpg,gif,png,jpeg</ExtName>
    </AttachmentType>
    <AttachmentType>
      <TypeId>2</TypeId>
      <TypeName>压缩包</TypeName>
      <ExtName>zip,rar</ExtName>
    </AttachmentType>
  </attachtypes>
</MyAttachmentsTypeConfigInfo>