<?xml version="1.0" encoding="UTF-8"?>
<PhotoConfigInfo>
  <Recommendphoto>102,33,103,34,56,49</Recommendphoto>
  <Focusphotoshowtype>0</Focusphotoshowtype>
  <Focusphotodays>7</Focusphotodays>
  <Focusphotocount>8</Focusphotocount>
  <Recommendalbum>9,1</Recommendalbum>
  <Focusalbumshowtype>0</Focusalbumshowtype>
  <Focusalbumdays>7</Focusalbumdays>
  <Focusalbumcount>8</Focusalbumcount>
  <Weekhot>10</Weekhot>
  <Lastupdatespace>10</Lastupdatespace>
</PhotoConfigInfo>