<?xml version="1.0"?>
<ScheduleConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <enabled>true</enabled>
  <events>
    <Event key="TagEvent" time_of_day="-1" minutes="720" type="Discuz.Event.TagsEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="ForumEvent" time_of_day="1170" minutes="720" type="Discuz.Event.ForumEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="ScriptEvent" time_of_day="-1" minutes="1" type="Discuz.Event.ScriptEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="StatEvent" time_of_day="2" minutes="1440" type="Discuz.Event.StatEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="NoticesEvent" time_of_day="120" minutes="1440" type="Discuz.Event.NoticesEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="AttachmentEvent" time_of_day="2" minutes="1440" type="Discuz.Event.AttachmentEvent, Discuz.Event" enabled="true" is_system_event="true" />
    <Event key="InvitationEvent" time_of_day="2" minutes="1" type="Discuz.Event.InvitationEvent, Discuz.Event" enabled="true" is_system_event="true" />
  </events>
  <minutes_interval>1</minutes_interval>
</ScheduleConfigInfo>