<?xml version="1.0"?>
<ScriptEventConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <scriptevent>
    <ScriptEventInfo key="DeleteMyOldTopics" title="删除过期的我的主题" timeofday="120" miniutes="0" enabled="true">DELETE FROM `dnt_mytopics` WHERE `[dateline` + {generalconfig.mytopicsavetime} &lt; '{nowdate}'</ScriptEventInfo>
    <ScriptEventInfo key="DeleteMyOldPosts" title="删除过期的我的帖子" timeofday="120" miniutes="0" enabled="true">DELETE FROM `dnt_myposts` WHERE `dateline` + {generalconfig.mytopicsavetime} &lt; '{nowdate}'</ScriptEventInfo>
	<ScriptEventInfo key="DeleteMyAttachments" title="删除过期的我的附件" timeofday="120" miniutes="0" enabled="true">DELETE FROM `dnt_myattachments` WHERE `postdatetime` + {generalconfig.myattachmentssavetime} &lt; '{nowdate}'</ScriptEventInfo>
  </scriptevent>
</ScriptEventConfigInfo>