<?xml version="1.0"?>
<SpaceActiveConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AllowPostcount>0</AllowPostcount>
  <Postcount>1</Postcount>
  <AllowDigestcount>0</AllowDigestcount>
  <Digestcount>1</Digestcount>
  <AllowScore>0</AllowScore>
  <Score>20</Score>
  <AllowUsergroups>1</AllowUsergroups>
  <Usergroups>1,2,3,4,5,6,7,8,11,12,13,14,15,17,20,56,60,61</Usergroups>
  <ActiveType>1</ActiveType>
  <SpaceFooterInfo />
  <Spacegreeting>欢迎开通个人空间</Spacegreeting>
  <Enablespacerewrite>1</Enablespacerewrite>
</SpaceActiveConfigInfo>